In [18]:
import pandas as pd
import numpy as np

In [19]:
data = pd.read_csv("Titanic.csv")
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [20]:
clean_data = data.dropna()
clean_data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [21]:
clean_data = clean_data.drop(["Name", "Ticket", "Cabin"], axis=1)

In [22]:
print("Sex:", clean_data["Sex"].unique())
print("Embarked:", clean_data["Embarked"].unique())

Sex: ['female' 'male']
Embarked: ['C' 'S' 'Q']

In [23]:
clean_data["Sex"] = clean_data["Sex"].map({'male': 0, 'female': 1})
print("Sex:", clean_data["Sex"].unique())
clean_data["Embarked"] = clean_data['Embarked'].map({'C': 1, 'Q': 2, 'S': 3})
print("Embarked:", clean_data["Embarked"].unique())

Sex: [1 0]
Embarked: [1 3 2]

In [24]:
clean_data.drop(["PassengerId"], axis=1, inplace=True)

In [27]:
loss = (1 - clean_data.shape[0] * clean_data.shape[1] / data.shape[0] / data.shape[1]) * 100

print(f"Процент потерянных данных: {loss}%")

Процент потерянных данных: 86.30751964085297%

In [28]:
X = clean_data.drop(columns=['Survived'])
y = clean_data['Survived']

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify=y, random_state=0)

In [30]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0,max_iter=500)
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

In [33]:
from sklearn.metrics import accuracy_score
print(f"Точность: {accuracy_score(y_test, y_pred)}")

Точность: 0.7454545454545455

In [34]:
X_train2 = X_train.drop(["Embarked"], axis=1)
X_test2 = X_test.drop(["Embarked"], axis=1)

In [36]:
clf = LogisticRegression(random_state=0, max_iter=200)
clf.fit(X_train2, y_train)
y_pred2 = clf.predict(X_test2)
print(f"Точность: {accuracy_score(y_test, y_pred2)}")

Точность: 0.6909090909090909

Получается, что столбец Embarked сильно влияет на точность модели, поскольку его удаление привело к снижению точности